/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

@font-face {
  font-family: 'svn-snell';
  src: url('../assets/fonts/SVN-SNELL\ ROUNDHAND\ SCRIPT.TTF');
}

@font-face {
  font-family: 'svn-snell-bold';
  src: url('../assets/fonts/SVN-SNELL\ ROUNDHAND\ SCRIPT\ BOLD.TTF');
}

@font-face {
  font-family: 'avo';
  src: url('../assets/fonts/UTM\ AVO.TTF');
}

@font-face {
  font-family: 'avo-bold';
  src: url('../assets/fonts/UTM\ AVOBOLD.TTF');
}

@font-face {
  font-family: 'avo-bold-italic';
  src: url('../assets/fonts/UTM\ AVOBOLD_ITALIC.TTF');
}

@font-face {
  font-family: 'avo-italic';
  src: url('../assets/fonts/UTM\ AVOITALIC.TTF');
}

@font-face {
  font-family: 'helvetins';
  src: url('../assets/fonts/UTM\ HELVETINS.TTF');
}

@font-face {
  font-family: 'helvetins-bold';
  src: url('../assets/fonts/UTM\ HelveBold.ttf');
}

@font-face {
  font-family: 'myriadpro';
  src: url('../assets/fonts/MYRIADPRO-LIGHT_0.OTF');
}

@font-face {
  font-family: 'myriadpro-bold';
  src: url('../assets/fonts/MYRIADPRO-BOLD.OTF');
}

@font-face {
  font-family: 'montesrrat-extrabold';
  src: url('../assets/fonts/Montserrat-ExtraBold.ttf');
}

.font-snell {
    font-family: 'svn-snell';
}

.font-helvetins {
    font-family: 'helvetins';
}

.font-helvetins-bold {
    font-family: 'helvetins-bold';
}

.font-avo {
    font-family: 'avo';
}

.font-avo-bold {
    font-family: 'avo-bold';
}

.font-myriad {
    font-family: 'myriadpro';
}

.font-myriad-bold {
    font-family: 'myriadpro-bold';
}

.font-montesrrat-extrabold {
    font-family: 'montesrrat-extrabold';
}