::ng-deep .p-accordion-header-toggle-icon {
    display: none;
}
.p-accordionheader{
    background: none !important;
    padding: 7px;
    width: 100%;
}

// ::ng-deep .p-accordionheader svg {
//     position: relative;


// }
.header-accordion{
    background-color: #00ccd6;
}
.header-title{
    margin: 0;
}
