<div class="flex justify-between">

    @if (svDangTrao() && !svDangTrao()?.text) {
    <!-- Info -->
    <div class="space-y-1">
        <div class="font-bold">{{svDangTrao()?.capBang}} {{ svDangTrao()?.hoVaTen }}</div>
        <div><span class="font-semibold">Ngành:</span> {{ svDangTrao()?.tenNganhDaoTao }}</div>
        @if (svDangTrao()?.xepHang) {
            <div><span class="font-semibold">Xếp loại:</span> {{ svDangTrao()?.xepHang || '' }}</div>
        }
        <!-- @if (svDangTrao()?.thanhTich) {
        <div><span class="font-semibold">Thành tích:</span><br><span class="whitespace-pre-line">{{
                svDangTrao()?.thanhTich
                }}</span></div>
        } -->
    </div>
    <div class="w-1/2">
        <span class="font-semibold">Ghi chú:</span><br>
        @if (svDangTrao()?.note) {
        <span class="whitespace-pre-line">{{ svDangTrao()?.note }}</span>
        }
    </div>
    }
    @if (svDangTrao() && svDangTrao()?.text) {
    <div class="space-y-1">
        <div class="font-bold">{{svDangTrao()?.text}}</div>
    </div>
    <div class="w-1/2">
        <span class="font-semibold">Ghi chú:</span><br>
        @if (svDangTrao()?.textNote) {
            <div [innerHTML]="svDangTrao()?.textNote" [ngClass]="{
                'whitespace-pre-line': true,
                `text-[#eb1d33]`: svDangTrao()?.infoType === type.KET_BAI,
                `text-[#012a86]`: svDangTrao()?.infoType === type.MO_BAI,
            }"></div>
        }
    </div>
    }
</div>