<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
     throwConfigExceptions="true">
	<targets>
		<!-- Console logging -->
		<target xsi:type="ColoredConsole" name="console">
			<layout>${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}</layout>
			<highlight-word text="DEBUG" foregroundColor="DarkGray" />
			<highlight-word text="INFO" foregroundColor="Green" />
			<highlight-word text="WARN" foregroundColor="Yellow" />
			<highlight-word text="ERROR" foregroundColor="Red" />
			<highlight-word text="FATAL" foregroundColor="DarkRed" />
		</target>
		<!-- File logging -->
		<target xsi:type="File" name="logfile"
				fileName="../../../../traobang.be.infrastructure.external/Log/Logs/traobang.be_${date:format=ddMMyyyy}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}"
				keepFileOpen="false"
				encoding="utf-8"
				createDirs="true"
				archiveFileName="../../../../traobang.be.infrastructure.external/Log/Archive/traobang.be_{#}.log"
				archiveNumbering="Rolling"
				archiveEvery="Day"
				maxArchiveFiles="30" />
	</targets>
	<rules>
		<!-- Log everything from Info and above -->
		<logger name="*" minlevel="Info" writeTo="console,logfile" />
	</rules>
</nlog>