<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-2 gap-2">
        <div class="mb-3">
            <label for="idPlan" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Chương trình <span
                    class="text-red-500">*</span></label>
            <p-select id="idPlan" formControlName="idPlan" [options]="listPlan" optionLabel="ten" optionValue="id"
                [filter]="true" placeholder="Chọn chương trình" class="w-full mb-2" appendTo="body" />
            @if (form.get('idPlan')?.hasError('required') && form.get('idPlan')?.touched) {
            <p-message severity="error" variant="simple" size="small">{{ getError('idPlan') }} </p-message>
            }
        </div>
        <div class="mb-3">
            <label for="ten" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Tên khoa<span
                    class="text-red-500">*</span></label>
            <input pInputText formControlName="ten" id="ten" type="text" class="w-full mb-2" />
            @if (form.get('ten')?.hasError('required') && form.get('ten')?.touched) {
            <p-message severity="error" variant="simple" size="small">{{ getError('ten') }} </p-message>
            }
        </div>
        <div class="mb-3">
            <label for="moTa" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Mô tả</label>
            <input pInputText formControlName="moTa" id="moTa" type="text" class="w-full mb-2" />
        </div>
        <div class="mb-3">
            <label for="order" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Thứ tự<span
                    class="text-red-500">*</span></label>
            <input pInputText formControlName="order" id="order" type="number" class="w-full mb-2" />
            @if (form.get('order')?.hasError('required') && form.get('order')?.touched) {
            <p-message severity="error" variant="simple" size="small">{{ getError('order') }} </p-message>
            }
        </div>
        <div class="mb-3">
            <label for="truongKhoa" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Trưởng
                khoa</label>
            <input pInputText formControlName="truongKhoa" id="truongKhoa" type="text" class="w-full mb-2" />
        </div>
    </div>
    <div class="grid grid-cols-3 gap-3">
        <div class="flex items-center mb-3">
            <p-checkbox inputId="isShow" name="isShow" formControlName="isShow" [binary]="true" />
            <label for="isShow" class="ml-2 cursor-pointer">Hiển thị khoa</label>
        </div>
        <div class="flex items-center mb-3">
            <p-checkbox inputId="isShowMoBai" name="isShowMoBai" formControlName="isShowMoBai" [binary]="true" />
            <label for="isShowMoBai" class="ml-2 cursor-pointer">Hiển thị mở bài</label>
        </div>
        <div class="flex items-center mb-3">
            <p-checkbox inputId="isShowKetBai" name="isShowKetBai" formControlName="isShowKetBai" [binary]="true" />
            <label for="isShowKetBai" class="ml-2 cursor-pointer">Hiển thị kết bài</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="moBai" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Mở bài</label>
        <textarea pTextarea rows="3" formControlName="moBai" id="moBai" type="text" class="w-full mb-2"></textarea>
    </div>
    <div class="mb-3">
        <label for="ketBai" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Kết bài</label>
        <textarea pTextarea rows="3" formControlName="ketBai" id="ketBai" type="text" class="w-full mb-2"></textarea>
    </div>
    <div class="mb-3">
        <label for="note" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Ghi chú</label>
        <textarea pTextarea rows="3" formControlName="note" id="note" type="text" class="w-full mb-2"></textarea>
    </div>
    <div class="mt-5 flex flex-row justify-end">
        <p-button label="Lưu" icon="pi pi-save" type="submit" [loading]="loading" />
    </div>
</form>