## Build Folders
bin/
obj/
out/
Debug/
Release/

## VS User Files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

## VSCode
.vscode/
.history/
*.code-workspace

## Rider
.idea/

## Logs & Temp
*.log
*.tlog
*.vspscc
*.cache
*.dbmdl
*.jfm
*.pdb
*.tmp

## NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

## EF Core
Migrations/  
## Service Account
traobang.be/service-account.json



## Others
wwwroot/lib/
node_modules/
*.DS_Store
Thumbs.db

## Visual Studio Generated
.vs/

