<div class="h-[100vh] max-h-[100vh] overflow-hidden relative">
    <img src="/bg-nhan-bang.png" class="w-full h-full block" />

    <div class="font-avo w-2/3 text-center top-[0] left-1/2 -translate-x-1/2 absolute mt-2 !mb-0">
        <!-- header -->
        <div class="flex flex-col justify-center items-center bg-transparent py-5">
            <p class="text-3xl font-myriad font-semibold uppercase !my-0 !text-[#012a86] tracking-wider">bộ giáo dục và đào tạo</p>
            <p class="text-3xl font-myriad-bold uppercase !my-0 !text-[#012a86] tracking-wide">trường đại học xây dựng hà nội</p>
            <img src="logo-huce-nhan-bang.png" class="block w-[80px] h-[80px] mt-2" />
        </div>
        <div>
            <p class="text-5xl uppercase text-[#eb1d33] font-montesrrat-extrabold">lễ trao bằng
                <br> tiến sĩ, thạc sĩ, kỹ sư,
            kiến trúc sư, cử nhân</p>
        </div>
        <div class="flex justify-center">
            <hr class="border-0 block bg-[#eb1d33] h-[0.175rem] w-1/2 !mt-2 !mb-2" />
        </div>
        @if (svDangTrao && svDangTrao.text) {
        <p class="uppercase text-5xl font-avo-bold text-[#012a86] !mb-0 leading-5">{{ svDangTrao.text }}</p>
        }

        @if (svDangTrao && !svDangTrao.text) {
        <p class="font-snell font-bold text-6xl text-[#eb1d33] !mb-2 !-mt-2">
            Chúc mừng
        </p>
        <div class="mt-0 mb-0">
            <p class="mb-0">
                <span class="text-5xl font-avo-bold text-[#012a86] leading-5">{{ svDangTrao.capBang }}&nbsp;</span>
                <span class="text-5xl font-avo-bold text-[#eb1d33] leading-5">{{ svDangTrao.hoVaTen }}</span>
            </p>
            <p class="font-avo font-semibold tracking-widest text-3xl text-[#012a86] !mb-0 leading-5">Ngành {{
                svDangTrao.tenNganhDaoTao }}
                @if (svDangTrao.xepHang) {
                - Xếp loại: <span class="font-avo-bold uppercase">{{ svDangTrao.xepHang }}</span>
                }
            </p>
        </div>
        <!-- @if (svDangTrao.thanhTich) {
            <div class="mt-0 mb-0">
                <p class="font-avo font-semibold tracking-wide text-3xl text-[#0e2e47] !mb-0">Thành tích:
                    <span class="whitespace-pre-line font-semibold tracking-widest text-xl">{{ svDangTrao.thanhTich
                        }}</span>
                </p>
            </div>
        } -->
        }
    </div>

    <div class="absolute bottom-5 w-full">
        <p class="text-[#0e2e47] text-center text-2xl font-semibold tracking-wider font-avo">Hà Nội, ngày 11 tháng 10 năm 2025</p>
    </div>
</div>