<p-table #dt1 [value]="data() || []" dataKey="id" [rows]="pageSize()" [loading]="loading()" [rowHover]="true"
    [showGridlines]="true" [paginator]="false" responsiveLayout="scroll">
    <ng-template #header>
        <tr>
            @for (col of (columns()); track $index) {
            <th [style]="col.headerContainerStyle">
                <div class="flex justify-center cols-center">{{ col.header }}</div>
            </th>
            }
        </tr>
    </ng-template>
    <ng-template #body let-row let-rowIndex="rowIndex">
        <tr>
            @for (col of (columns()); track $index) {
            <td [style]="col.cellStyle" [ngClass]="col.cellClass" (click)="onCellClick(col, row)">
                @if (col.cellViewType === cellViewTypes.CUSTOM_COMP) {
                <ng-container
                    *ngComponentOutlet="col.customComponent; injector: customInjector ; inputs: {row, rowIndex, data: get(row, col.field || '') }"></ng-container>
                } @else if (col.cellViewType === cellViewTypes.INDEX) {
                <span>{{ rowIndex + 1 }}</span>
                } @else if (col.cellRender) {
                <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(row[col.field || ''])"></div>
                } @else if (col.cellViewType === cellViewTypes.DATE) {
                {{ get(row, col.field || '') | date: (col.dateFormat || 'dd/MM/yyyy') }}
                } @else if (col.cellViewType === cellViewTypes.CURRENCY) {
                {{ formatVND(get(row, col.field || '')) }}
                }
                @else if (col.cellViewType === cellViewTypes.CHECKBOX) {
                <input type="checkbox" [checked]="get(row, col.field || '')" (click)="$event.stopPropagation()" (change)="onCellClick(col, row)" />
                }
                @else if (col.cellViewType === cellViewTypes.LINK_BLANK) {
                    <a [href]="get(row, col.field || '')" target="_blank" class="!underline cursor-pointer text-blue-600">{{get(row, col.field || '')}}</a>
                }
                @else if (col.cellViewType === cellViewTypes.STATUS && col.statusSeverityFunction) {
                    <div class="flex justify-center">
                        <p-tag [value]="get(row, col.field || '')" [severity]="col.statusSeverityFunction(row)"></p-tag>
                    </div>
                }
                @else if ('field' in col) {
                <span [class.cursor-pointer]="isCellClickable(col)" (click)="onCellClick(col, row)">{{ get(row, col.field || '') }}</span>
                }
            </td>
            }
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>    
            <td [attr.colspan]="columns().length">Không có dữ liệu</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td [attr.colspan]="columns().length">Đang tải dữ liệu...</td>
        </tr>
    </ng-template>
</p-table>
<div class="w-full flex flex-row justify-center">
    <p-paginator (onPageChange)="onPage($event)" [rows]="pageSize()" [totalRecords]="total()" />
</div>