<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-3 gap-2">
        <div class="mb-3">
            <label for="idSubPlan" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Khoa <span
                    class="text-red-500">*</span></label>
            <p-select id="idSubPlan" formControlName="idSubPlan" [options]="listSubPlan" optionLabel="ten"
                optionValue="id" [filter]="true" placeholder="Chọn khoa" class="w-full mb-2" appendTo="body" />
            @if (form.get('idSubPlan')?.hasError('required') && form.get('idSubPlan')?.touched) {
            <p-message severity="error" variant="simple" size="small">{{ getError('idSubPlan') }} </p-message>
            }
        </div>
        <div class="mb-3">
            <label for="hoVaTen" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Họ tên<span
                    class="text-red-500">*</span></label>
            <input pInputText formControlName="hoVaTen" id="hoVaTen" type="text" class="w-full mb-2" />
            @if (form.get('hoVaTen')?.hasError('required') && form.get('hoVaTen')?.touched) {
            <p-message severity="error" variant="simple" size="small">{{ getError('hoVaTen') }} </p-message>
            }
        </div>
        <div class="mb-3">
            <label for="maSoSinhVien" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Mã số SV<span
                    class="text-red-500">*</span></label>
            <input pInputText formControlName="maSoSinhVien" id="maSoSinhVien" type="text" class="w-full mb-2" />
            @if (form.get('maSoSinhVien')?.hasError('required') && form.get('maSoSinhVien')?.touched) {
            <p-message severity="error" variant="simple" size="small">{{ getError('maSoSinhVien') }} </p-message>
            }
        </div>
        <div class="mb-3">
            <label for="email" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Email Quản lý</label>
            <input pInputText formControlName="email" id="email" type="email" class="w-full mb-2" />
        </div>
        <div class="mb-3">
            <label for="emailSinhVien" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Email
                SV</label>
            <input pInputText formControlName="emailSinhVien" id="emailSinhVien" type="emailSinhVien"
                class="w-full mb-2" />
        </div>
        <div class="mb-3">
            <label for="lop" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Lớp</label>
            <input pInputText formControlName="lop" id="lop" type="text" class="w-full mb-2" />
        </div>
        <div class="mb-3">
            <label for="ngaySinh" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Ngày sinh</label>
            <p-datepicker formControlName="ngaySinh" id="ngaySinh" class="w-full mb-2" [readonlyInput]="false"
                [showIcon]="true" dateFormat="dd/mm/yy" appendTo="body" />
        </div>
        <div class="mb-3">
            <label for="capBang" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Cấp bằng</label>
            <input pInputText formControlName="capBang" id="capBang" type="text" class="w-full mb-2" />
        </div>
        <div class="mb-3">
            <label for="tenNganhDaoTao"
                class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Ngành</label>
            <input pInputText formControlName="tenNganhDaoTao" id="tenNganhDaoTao" type="text" class="w-full mb-2" />
        </div>
        <div class="mb-3">
            <label for="xepHang" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Xếp hạng</label>
            <input pInputText formControlName="xepHang" id="xepHang" type="text" class="w-full mb-2" />
        </div>

        <div class="mb-3">
            <label for="khoaQuanLy" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Khoa QL</label>
            <input pInputText formControlName="khoaQuanLy" id="khoaQuanLy" type="text" class="w-full mb-2" />
        </div>
        <div class="mb-3">
            <label for="soQuyetDinhTotNghiep" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Số
                QĐ</label>
            <input pInputText formControlName="soQuyetDinhTotNghiep" id="soQuyetDinhTotNghiep" type="text"
                class="w-full mb-2" />
        </div>
        <div class="mb-3">
            <label for="ngayQuyetDinh" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Ngày
                QĐ</label>
            <p-datepicker formControlName="ngayQuyetDinh" id="ngayQuyetDinh" class="w-full mb-2" [readonlyInput]="false"
                [showIcon]="true" dateFormat="dd/mm/yy" appendTo="body" />
        </div>
        <div class="mb-3">
            <label for="trangThai" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Trạng thái</label>
            <p-select formControlName="trangThai" id="trangThai" [options]="listSvTrangThai" optionLabel="name" optionValue="code" placeholder="Tất cả" [showClear]="true" styleClass="w-full" [appendTo]="'body'" />
        </div>

    </div>
    <div class="mb-3">
        <label for="thanhTich" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Thành
            tích</label>
        <textarea pInputTextarea formControlName="thanhTich" id="thanhTich" class="w-full mb-2" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="note" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Ghi chú</label>
        <textarea pInputTextarea formControlName="note" id="note" class="w-full mb-2" rows="3"></textarea>
    </div>
    <div class="mt-5 flex flex-row justify-end">
        <p-button label="Lưu" icon="pi pi-save" type="submit" [loading]="loading" />
    </div>
</form>